.Pokedex *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Pokedex{
    background-color: antiquewhite;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
}

.Pokedex h1{
    color: black;
    letter-spacing: 4px;
}