.PokemonList{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.PokemonList h2{
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.control-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.control-btns button{
    padding: 5px 30px;
    background-color: rgb(52, 52, 227);
    transition: all 0.3s linear;
    &:hover{
        background-color: blue;
    }
}

.PokemonList .pokemon-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

